<div class="row whole-column">
	<div class="small-12 columns whole-column">
		<%= image_tag("top_image.jpg") %>
	</div>
</div>
<div id="category_section">
	<div class="row">
		<div class="small-12 columns padding-top-category">
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
				<li><%= image_tag("gallery_item_background.png") %></li>
			</ul>
		</div>
	</div>
</div>
<div id="history_section" class="padding-top-bottom-history">
	<div class="row">
		<div class="small-6 columns">
			<%= image_tag("about_us_background.png") %>
		</div>
		<div class="small-6 columns">
			<%= image_tag("logo.png") %>
		</div>
	</div>
</div>
<div id="gallery_section">
	<div class="row">
		<div class="small-12 columns">
			Gallery section.
		</div>
	</div>
</div>