<div class="row">
	<div class="medium-2 columns">
		<strong>Name:</strong>
	</div>
	<div class="medium-10 columns">
		<%= @sub_type.name %>
	</div>
</div>
<div class="row">
	<div class="medium-2 columns">
		<strong>Description:</strong>
	</div>
	<div class="medium-10 columns">
		<%= @sub_type.description %>
	</div>
</div>
<div class="row">
	<div class="medium-2 columns">
		<strong>Type of article:</strong>
	</div>
	<div class="medium-10 columns">
		<%= @sub_type.article_type_name %>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns text-center">
		<%= link_to 'Edit', edit_sub_type_path(@sub_type), :class => "button round tiny" %> <%= link_to 'Back', sub_types_path, :class => "button round alert tiny" %>
	</div>
</div>