<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Piñatas Chatas" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="background-header-bottom show-for-medium-up">
      <div class="row <%= is_home_index_page %>">
        <div class="medium-12">
          <div class="row no-margin">
            <div class="medium-6 columns">
              <%= image_tag("logo.png", :class => "relative-position-logo") %>
            </div>
            <div class="medium-6 columns text-right">
              <%= image_tag("fiesta_vector.png") %>
            </div>
          </div>
          <div class="row no-margin main-menu-position-fix">
              <div class="medium-12 columns show-for-medium-up">
                <nav class="top-bar" data-topbar role="navigation">
                  <%= render "layouts/main_menu" %>
                </nav>
              </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="row show-for-small-only">
      <div class="medium-12 columns no-padding-left-right">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <%= render "layouts/main_menu" %>
        </nav>
      </div>
    </div>
      
    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>